
html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}


.box-heigt100{
  height: 100%;
  overflow: hidden;
}

.scrollbar1{
  overflow-y: auto;
}

.scrollbar1::-webkit-scrollbar {
  width: 6px; /*对垂直流动条有效*/
  height: 6px; /*对水平流动条有效*/
}
/*滚动条里面轨道*/
.scrollbar1::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.2);
  background-color:#73d2f3;
  border: solid 1px #bfcbd9;
  border-radius: 1px;
}
/* 滑块 */
.scrollbar1::-webkit-scrollbar-thumb{
  border-radius: 4px;
  background-color:#B5D6E6;
}

/*定义两端按钮的样式*/
.scrollbar1::-webkit-scrollbar-button {
  height:6px;
  background-color:#bfcbd9;
}

/*定义右下角汇合处的样式*/
.scrollbar1::-webkit-scrollbar-corner {
  background:#ffffff;
}

.scrollbar1::-webkit-scrollbar-track-piece {
  background-color: #ffffff;
}

.scrollbar1.bar20::-webkit-scrollbar {
  width: 20px; /*对垂直流动条有效*/
  height: 20px;
}

.dialog1{

  .el-dialog__header{
    padding:5px 10px;
  }
  .el-dialog__body{
    padding:5px 10px;
  }
  .el-dialog__footer{
    padding:5px 10px;
  }

}



