
$leftMenuWidth:210px;
$leftMenuCloseWidth:54px;
$bgLeftMenu:#304156;
$bgMain:#eee;
$bgHeadNavbar:#e9e9e9;
$leftMenuColor:#bfcbd9;
$leftMenuActiveColor: #FFD04B;
$navbarHeight: 40px;
$transitionTime:0.3s;

:export {
  bgLeftMenu: $bgLeftMenu;
  bgHeadNavbar:$bgHeadNavbar;
  bgMain: $bgMain;
  leftMenuColor:$leftMenuColor;
  leftMenuActiveColor:$leftMenuActiveColor;
  navbarHeight: $navbarHeight;

}
